.form {
    margin: 20px;

}

.modal .modal__content {
    position: absolute;
    z-index: 10;
    background-color: var(--dark-1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    max-width: 600px;
    border-radius: 10px;

    border: 2px solid var(--dark-2);
    max-height: 80vh;
    overflow-y: scroll;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4b5563;
    padding: 20px;
}

.modal__overlay {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--modal-overlay);
    height: 100vh;
    width: 100vw;
}



.modal__title {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-white);
}

.modal__close {
    background: none;
    border: none;
    font-size: 28px;
    color: var(--text-white);
    cursor: pointer;
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;
}

.modal__close:hover {
    background-color: rgba(255, 255, 255, 0.066);
    border-radius: 7px;
}

.form__label {
    display: block;
    font-weight: 600;
    font-size: 14px;
}

.form__group {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
}


.main-info {
    color: var(--text-white);
    background-color: var(--dark-2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.experiences {
    background-color: var(--dark-2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.experiences p {
    font-size: 1.3em;
    color: white;

}

.experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.add-exper {
    background-color: var(--accent-green);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.exp-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;

}

.exp-head button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;


}

.exp-head button:hover {
    background-color: rgba(255, 0, 0, 0.775);
}

input {
    width: 100%;
    height: 50px;
    border-radius: 0.5em;
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, 0.066);
    border: none;
    outline: none;
    color: white;

}

input:focus {
    border: 2px solid blue;
    color: white;
}



select:focus {
    color: white;
    border: 2px solid blue;
}

select,
option {
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.066);
    outline: none;
}

select {
    color: white;
}

option {
    color: white;
    background-color: var(--dark-2)
}



.img-frame {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid var(--btn-red);
    overflow: hidden;
    text-align: center;
}

#preview {
    overflow: hidden;
    height: 100px;
    width: 100px;
    align-self: center;
    place-self: center;
}




.btn-add-exp{
    background-color: var(--accent-green);
}

.side .title {
    width: calc(100% - 30px);
    display: flex;
    align-items: center;
    margin: 15px;
    justify-content: space-between;
}



.btn-add-tolist {
    background-color: var(--btn-blue);
}


.error-msg {
    color: red;
}